/* for sitelogo */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


/* for navbar meanu */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* for navbar social media */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* for navbar resume_btn */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');


body {
    background: #2D2E32;
    color: var(--wt);
}

h1 {
    font-weight: 500;
    font-size: 6vw;
}


.main_wrapper {
    width: 100%;
}

/* NavBar */

.navbar {
    justify-content: space-between;
    width: 100%;
    height: 100px;
    color: var(--wt);
    /* border-bottom: 1px solid red; */
}

.navbar_wrap {
    height: 100%;
    padding: 0 50px;
    /* border: 1px solid red; */
}

.siteLogo {
    width: 20%;
    justify-content: flex-start;

    font-family: 'Rajdhani', sans-serif;
    font-size: 1.6vw;
    letter-spacing: 0.5px;
    word-spacing: -3px;
}

.siteLogo a {
    padding: 10px 20px;
}

.menus_wrap {
    width: 45%;
    justify-content: flex-start;
    font-family: 'Share Tech Mono', monospace;
    font-size: 13px;
}

.menu_con {
    margin: 0 10px;
    padding: 10px 20px;
}

.menu {
    position: relative;
}

.menu i {
    font-size: 10px;
}

.details_wrap {
    width: 35%;
    padding-right: 70px;
    justify-content: space-between;
}

.social_media {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.social_media>a>i {
    margin-right: 10px;
}

.social_media_links {
    padding: 10px 15px;
    /* border: 1px solid red; */
}

.resumeBtn_con {
    /* margin-left: 20px; */
    padding: 8px 25px 5px;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--themeC);
    border: 1px solid var(--themeC);
    cursor: pointer;
}


/* Navbar */


/* Intro */
.main_container {
    /* margin: 0 70px; */
}

.intro_con {
    height: calc(100vh - 100px);
    margin: 0 100px;
}

.intro_subs {
    width: 50%;
    min-height: 100%;
    /* border: 1px solid red; */
}

.intro_subLeft {
    /* margin-left: 100px; */
    padding: 50px 0px;
    font-family: 'Share Tech Mono', monospace;
}

.intro_tag_con {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.intro_tag {
    background: var(--themeC);
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--fullDarkGrey);
    border-radius: 3px;
}

.introText1 {
    margin-bottom: 30px;
    font-size: 4vw;
    letter-spacing: -4px;
}

.introText2 {
    margin-bottom: 50px;
    font-size: 18px;
    letter-spacing: -1px;
    /* line-height: 20px; */
    color: var(--greyLight);
}

.intro_subLeft .chatBtn {
    letter-spacing: 1.5px;
    font-family: 'Teko', sans-serif;
    font-size: 22px;
    color: var(--themeC);
    text-transform: uppercase;
    text-decoration: underline;
}

.mini_count_con {
    margin-top: 80px;
    justify-content: flex-start;
}

.mini_count {
    height: 50px;
    margin-right: 50px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}

.mini_countSec1 {
    width: 50px;
    margin-top: 5px;
    justify-content: flex-start;
    height: 100%;
    padding: 5px 0;
    font-size: 50px;
}

.mini_countSec2 {
    height: 100%;
    padding: 0 10px;
    color: var(--greyLight);
    font-size: 18px;
    line-height: 20px;
}

.intro_subRight {
    background: url("../assests/cover_pic.svg") no-repeat;
    background-size: 115%;
    background-position: 50% 0%;
}

/* Intro */

/* services_con */
.services_con {
    background: #25262A;
    height: 100vh;
}

/* services_con */