/* common font */
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

:root {
    --themeC: #71FCAA;
    --bgGrey: #2D2E32;
    --fullDarkGrey: #02030a;
    --DarkGrey: #25262A;
    --greyLight: #747474;
    --wt: #ffffff;
}

* {
    /* font-family: 'Tangerine', cursive; */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbreak {
    flex-basis: 100%;
    /* width: 100%; */
    height: 0;
}

.noscroll {
    overflow: hidden;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: inherit;
}